[submodule ".local/share/nvim/site/pack/plugins/start/gruvbox"]
	path = .local/share/nvim/site/pack/plugins/start/gruvbox
	url = git@github.com:morhetz/gruvbox.git
[submodule ".local/share/nvim/site/pack/plugins/start/fzf"]
	path = .local/share/nvim/site/pack/plugins/start/fzf
	url = git@github.com:junegunn/fzf.vim.git
[submodule ".local/share/nvim/site/pack/plugins/start/coc"]
	path = .local/share/nvim/site/pack/plugins/start/coc
	url = git@github.com:neoclide/coc.nvim.git
[submodule ".local/share/nvim/site/pack/plugins/start/vim-commentary"]
	path = .local/share/nvim/site/pack/plugins/start/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
